@use "@/assets/styles/variables.scss" as *;

@mixin big-button {
  @include button-text;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;

  background: $black-primary;
  color: $white-primary;
  height: 40px;

  border-radius: 8px;
  padding: 10px 16px;

  & > img {
    width: 16px;
    height: 16px;

    position: absolute;
    right: 12px;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: rgba($white-primary, 0.8);

    & > img {
      opacity: 0.8;
      right: 4px;
    }
  }

  &.disabled {
    pointer-events: none !important;
    opacity: 0.3 !important;
  }
}

@mixin button-icon {
  @include button-text;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px 16px;
  border-radius: 8px;
  height: 40px;

  background: $gray-primary;
  border: 1px solid rgba($black-primary, 0.1);

  color: rgba($black-primary, 0.7);
  font-weight: 400;

  & > img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
  }

  &:hover {
    color: rgba($black-primary, 0.9);
    & > img {
      opacity: 0.9;
    }
  }
  &.disabled {
    pointer-events: none !important;
    opacity: 0.3 !important;
  }

  &.dark {
    background: $black-primary;
    color: $white-primary;
    border: none;

    &:hover {
      color: rgba($white-primary, 0.8);
      & > img {
        opacity: 0.8;
      }
    }
  }
}

@mixin category-button {
  @include button-text;

  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  height: 30px;
  border-radius: 6px;
  width: fit-content;

  border: 1px solid rgba($black-primary, 0.1);

  background: $gray-primary;
  color: rgba($black-primary, 0.7);

  & > img {
    opacity: 0.7;
    width: 18px;
    height: 18px;
  }

  &:hover {
    color: rgba($black-primary, 0.9);

    & > img {
      opacity: 0.9;
    }
  }

  &.active {
    background: $black-primary !important;
    color: $white-primary !important;
    border: 1px solid transparent;

    & > img {
      opacity: 1;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &.disabled {
    pointer-events: none !important;
    opacity: 0.3 !important;
  }
}

@mixin category-counter {
  @include button-text;

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 5px 5px 12px;
  height: 34px;
  border-radius: 6px;
  width: fit-content;

  border: 1px solid rgba($black-primary, 0.1);

  background: transparent;
  color: rgba($black-primary, 0.7);

  & > .counter {
    @include tag-text;
    line-height: 100%;

    color: rgba($black-primary, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;

    background: $gray-primary;
    border-radius: 4px;
    height: 24px;
    min-width: 24px;
  }

  &:hover {
    border-radius: 12px;
    background: $gray-primary;

    & > .counter {
      border-radius: 8px;
      background: $white-primary;
    }
  }
}

@mixin info-block {
  @include tag-text;

  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 2px 5px;
  border-radius: 4px;

  background: $gray-primary;
  color: #7D7D7D;

  width: fit-content;

  & > img {
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }
}

@mixin sidebar-tab {
  @include button-text;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 12px;
  height: 36px;
  border-radius: 8px;

  opacity: 0.5;
  border: 1px solid transparent;

  & > img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 0.7;
    border: 1px solid rgba($black-primary, 0.1);
  }

  &.active {
    opacity: 1;
    border: 1px solid rgba($black-primary, 0.1);
    background-color: $gray-primary;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}