@use "@/assets/styles/variables.scss" as *;

@mixin big-button {
  @include button-text;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;

  background: $black-primary;
  color: $white-primary;
  height: 44px;

  border-radius: 8px;
  padding: 10px 16px;

  & > img {
    width: 16px;
    height: 16px;

    position: absolute;
    right: 12px;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: rgba($white-primary, 0.8);

    & > img {
      opacity: 0.8;
      right: 4px;
    }
  }

  &.disabled {
    pointer-events: none !important;
    opacity: 0.3 !important;
  }
}

@mixin button-icon {
  @include button-text;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px 16px;
  border-radius: 8px;
  height: 44px;

  background: $gray-primary;
  border: 1px solid rgba($black-primary, 0.05);

  color: rgba($black-primary, 0.7);
  font-weight: 400;

  & > img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
  }

  &:hover {
    color: rgba($black-primary, 0.9);
    & > img {
      opacity: 0.9;
    }
  }
  &.disabled {
    pointer-events: none !important;
    opacity: 0.3 !important;
  }

  &.dark {
    background: $black-primary;
    color: $white-primary;

    &:hover {
      color: rgba($white-primary, 0.8);
      & > img {
        opacity: 0.8;
      }
    }
  }
}

@mixin category-button {
  @include button-text;

  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  height: 30px;
  border-radius: 6px;
  width: fit-content;

  border: 1px solid rgba($black-primary, 0.1);

  background: $gray-primary;
  color: rgba($black-primary, 0.7);

  & > img {
    opacity: 0.7;
    width: 18px;
    height: 18px;
  }

  &:hover {
    color: rgba($black-primary, 0.9);

    & > img {
      opacity: 0.9;
    }
  }

  &.active {
    background: $black-primary !important;
    color: $white-primary !important;
    border: none;

    & > img {
      opacity: 1;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &.disabled {
    pointer-events: none !important;
    opacity: 0.3 !important;
  }
}

@mixin sidebar-tab {
  @include button-text;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 12px;
  height: 36px;
  border-radius: 8px;

  opacity: 0.5;
  border: 1px solid transparent;

  & > img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 0.7;
    border: 1px solid rgba($black-primary, 0.1);
  }

  &.active {
    opacity: 1;
    border: 1px solid rgba($black-primary, 0.1);
    background-color: $gray-primary;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}